/**
 * Avatar Component Style for tingle
 * @author alex.mm
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../node_modules/tingle-style/src/var'

.tAvatar
    radius 50%
    text-align center
    display inline-block
    color #fff
